<!DOCTYPE html>

<head>
	<title>POC - Session Storage</title>
</head>

<div class="container">
	<header>
		<h1>POC de Session Storage</h1>
		<h3>Testando o uso do armazenamento no Session Storage</h3>
	</header>
	<hr />

	<div class="row">
		<h4>1. Armazenando um dado no Session Storage</h4>
		<p>
			Insira um texto no campo abaixo e clique em Armazenar.
			Esse dado ficará armazenado <br /> nessa aba, sendo
			inacessível ao abrir uma nova aba nesse mesmo endereço.
		</p>
	</div>
	<div class="row">
		<label>Informação para teste: </label>
		<input id="info" type="text" [(ngModel)]="info" />
		<button class="btn btn-primary" (click)="salvarDado()">Armazenar</button>
	</div>

	<div class="row">
		<h4>2. Buscando o dado</h4>
		<p>Ao clicar em Buscar, o valor armazenado será exibido abaixo.</p>
	</div>
	<div class="row">
		<button class="btn btn-primary" (click)="buscarDado()">Buscar</button>
		<span *ngIf="showInfo"> Valor armazenado: {{ dadoSalvo }}</span>
	</div>

	<div class="row">
		<h4>3. Deletando um dado do Session Storage</h4>
		<p>
			Ao clicar em Deletar ou ao fechar essa aba, o dado armazenado será apagado. <br />
			Você pode checar se foi mesmo apagado clicando no botão Buscar.
		</p>
	</div>
	<div class="row">
		<button class="btn btn-primary" (click)="deletarDado()">Deletar</button>
	</div>
</div>

<footer>
	<p>Desenvolvido por: Diego de Paula - 082160010 e Thainá França - 082160022</p>
</footer>